@model List<ChemCourses.Models.Course>

<link rel="stylesheet" href="/css/courses.css" asp-append-version="true">

<div class="courses-container" style="grid-template-columns: 400px 1fr;">
    <div class="search">
        <div class="title">Zoeken</div>
        <div id="search" class="empty" contenteditable="true" data-placeholder="🔍 Zoek voor een les..."></div>
        <div class="title">Categorieën</div>
        <div class="category" data-cat="cat"><div class="check"></div>Analytische chemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Anorganische chemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Organische chemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Industriële chemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Fysische chemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Biochemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Milieuchemie</div>
        <div class="category" data-cat="cat"><div class="check"></div>Theoretische chemie</div>

        <div class="title">Moeilijkheid</div>
        <div class="category" data-cat="level"><div class="check"></div>Beginner</div>
        <div class="category" data-cat="level"><div class="check"></div>Gevorderd</div>
        <div class="category" data-cat="level"><div class="check"></div>Expert</div>
        
        <div class="clear">Clear</div>
    </div>

    <div class="courses-container-sub">
        @foreach (var capital in Model)
        {
            <div class="card" data-id="@capital.Id" data-name="@capital.Name" data-description="@capital.Description">
                <img src="https://demo.themeum.com/tutor/wp-content/plugins/tutor/assets/images/placeholder.svg" alt="" class="top">
                <div class="card-body">
                    <div class="desc">
                        <h3>@capital.Name</h3>
                        <p>@capital.Description</p>
                    </div>
                    <div class="start">
                        <p onclick="ReplacePage('/Lessen/@capital.Id')">Start met leren</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script minimize>
    //SEARCH
    var search = document.getElementById('search');
    var cards = Array.from(document.getElementsByClassName('card'));
    search.addEventListener('input', function () {

        if (search.innerHTML.trim() === '') {
            search.classList.add('empty');
            cards.forEach(function (card) {
                card.style.display = 'block';
            });
            return;            
        } else {
            search.classList.remove('empty');
        }
        for (var i = 0; i < cards.length; i++) {
            var card = cards[i];
            var name = card.getAttribute('data-name').toLowerCase();
            var description = card.getAttribute('data-description').toLowerCase();
            var searchValue = search.innerText.toLowerCase();
            if (name.includes(searchValue) || description.includes(searchValue) || searchValue === '') {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        }
    });
    
    //when clicked on the ::after of #seach, delete the text in the search bar and call the input event
    search.addEventListener('click', function () {
        search.innerHTML = '';
        search.dispatchEvent(new Event('input'));
    });
    
    //CATEGORY / LEVEL
    var categories = Array.from(document.getElementsByClassName('category'));
    categories.forEach(function (category) {
        category.addEventListener('click', function () {
            category.classList.toggle('active');
            
            //untoggle all other categories with the same data-cat
            var dataCat = category.getAttribute('data-cat');
            categories.forEach(function (otherCategory) {
                if (otherCategory.getAttribute('data-cat') === dataCat && otherCategory !== category) {
                    otherCategory.classList.remove('active');
                }
            });
        });
    });
    
    //CLEAR
    var clear = document.querySelector('.clear');
    clear.addEventListener('click', function () {
        categories.forEach(function (category) {
            category.classList.remove('active');
        });
    });
</script>
