@model ChemCourses.Models.Course

<link rel="stylesheet" href="/css/courses.css" asp-append-version="true">

<div class="lesson-info-container">
    <div class="left">
        <div class="lesson-info">
            <h1 class="title">@Model.Name</h1>

            <img src="https://img.youtube.com/vi/MT0ByfN3tKw/mqdefault.jpg">
            
            <h2>Beschrijving</h2>
            <div class="description">
                @Model.Description
            </div>
            
            <h2>Wat je gaat leren?</h2>
            <div class="learn">
                <ul>
                    @foreach(var item in Model.InThisCourse)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
            
            <h2>Wat zit er in de les?</h2>
            
            @foreach (var sectionItem in Model.Sections)
            {
                <div class="accordion">
                    <p class="accordion-title">@sectionItem.Name</p>
                    <div class="accordion-content">
                        @foreach (var item in sectionItem.Items)
                        {
                            <div class="item">
                                @if (item.Type == typeof(VideoExplanation))
                                {
                                <i class="fas fa-video"></i>
                                }
                                else if (item.Type == typeof(TextExplanation))
                                {
                                <i class="fas fa-file"></i>
                                }
                                else if (item.Type == typeof(Questionneer))
                                {
                                <i class="fas fa-question"></i>
                                }
                                else
                                {
                                <i class="fas fa-file"></i>
                                }
                                @item.Name
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="right">
        <div class="lesson-start">
            <h2>Start de les</h2>
            <div onclick="ReplacePage('./LesInhoud')" class="start-lesson">Start</div>
        </div>
        <div class="lesson-details">
            <h3>Lesdetails</h3>
            <div class="detail">
                <i class="fas fa-clock"></i>
                <span>Duur: @Model.Duration</span>
            </div>
            <div class="detail">
                <i class="fas fa-level-up-alt"></i>
                <span>Niveau: @Model.Difficulty</span>
            </div>
            <div class="detail">
                <i class="fas fa-tag"></i>
                <span>Categorieën: @string.Join(", ", Model.Categories)</span>
            </div>
        </div>
        <div class="lesson-requirements">
            <h3>Vereisten</h3>
            <ul>
                @foreach (var requirement in Model.Requirements)
                {
                <li>@requirement</li>
                }
            </ul>
        </div>
    </div>
</div>

<script minimize>
    var acc = Array.from(document.getElementsByClassName("accordion"));
    acc.forEach(function (el) {
        el.addEventListener("click", function () {
            el.getElementsByClassName("accordion-content")[0].style.display = el.getElementsByClassName("accordion-content")[0].style.display === "block" ? "none" : "block";
            el.classList.toggle("active");
        });
    })
</script>


@* <script> *@
@* var videoPlayer = undefined; *@
@* BetterPages.mainAfterLoad = () => { *@
@*     setTimeout(function() { *@
@*         videoPlayer = new VideoPlayer('@Model.Id'); *@
@*         videoPlayer.startup(); *@
@*         videoPlayer.play(); *@
@*     }, 1000); *@
@* } *@
@* </script> *@