@model ChemCourses.Controllers.Course

<link rel="stylesheet" href="/css/toets.css">

<!-- __________________________ -->
<!-- |400px x 60px| 1fr x 60px| -->
<!-- |400px x 1fr| 1fr x 1fr  | -->

<div class="lesson-content-container">
    <div class="left-header">Les inhoud</div>

    <div class="content-viewer">

        @foreach (var sectionItem in Model.Sections)
        {
            //if has item with Id == Model.SelectedSection
        <div class="accordion @(sectionItem.Items.Any(i => i.Id == Model.selectedSectionItem) ? "active" : "")">
            <p class="accordion-title">@sectionItem.Name</p>
            <div class="accordion-content" style="@(sectionItem.Items.Any(i => i.Id == Model.selectedSectionItem) ? "display: block;" : "display: none;")">
                @foreach (var item in sectionItem.Items)
                {
                <div class="item">
                    @if (item.Type == "video")
                    {
                    <i class="fab fa-youtube"></i>
                    }
                    else if (item.Type == "text")
                    {
                    <i class="fas fa-file"></i>
                    }
                    else if (item.Type == "question")
                    {
                    <i class="fas fa-square-question"></i>
                    }
                    else
                    {
                    <i class="fas fa-question"></i>
                    }
                    @item.Name
                </div>
                }
            </div>
        </div>
        }

    </div>
    
    <div class="content">
        
        <div class="item" data-type="text">
            <h1>Wat is een Boe-Schema?</h1>
            <p>Boe-Schema is een manier om de elektronenverdeling in een molecuul te beschrijven. Het is een schematische weergave van de elektronenverdeling in een molecuul. Het is een manier om de elektronenverdeling in een molecuul te beschrijven. Het is een schematische weergave van de elektronenverdeling in een molecuul.</p>
        </div>
        
    </div>
    
    <div class="shadow-button"></div>
    
    <div class="buttons">
        <div class="prev">Vorige</div>
        <div class="next">Volgende</div>
    </div>
</div>

<script minimize>
    var acc = Array.from(document.getElementsByClassName("accordion"));
    acc.forEach(function (el) {
        el.addEventListener("click", function () {
            el.getElementsByClassName("accordion-content")[0].style.display = el.getElementsByClassName("accordion-content")[0].style.display === "block" ? "none" : "block";
            el.classList.toggle("active");
        });
    })
</script>

@* <script> *@
@* var videoPlayer = undefined; *@
@* BetterPages.mainAfterLoad = () => { *@
@*     setTimeout(function() { *@
@*         videoPlayer = new VideoPlayer('@Model.Id'); *@
@*         videoPlayer.startup(); *@
@*         videoPlayer.play(); *@
@*     }, 1000); *@
@* } *@
@* </script> *@