@model ChemCourses.Models.Course

<link rel="stylesheet" href="/css/toets.css">
<script src="js/VideoPlayer.js"></script>
@{
    bool firstShows = false;
}

<!-- __________________________ -->
<!-- |400px x 60px| 1fr x 60px| -->
<!-- |400px x 1fr| 1fr x 1fr  | -->

<div class="lesson-content-container">
    <div class="left-header">Les inhoud</div>

    <div class="content-viewer">

        @foreach (var sectionItem in Model.Sections)
        {
            //if has item with Id == Model.SelectedSection
        <div class="accordion">
            <p class="accordion-title">@sectionItem.Name</p>
            <div class="accordion-content" style="@(sectionItem.Items.Any(i => i.Id == Model.selectedSectionItem) ? "display: block;" : "display: none;")">
                @foreach (var item in sectionItem.Items)
                {
                <div class="item @((item.Id == Model.selectedSectionItem) ? "active" : "")" onclick="goToSection(event, @item.Id)">
                    @if (item.Type == typeof(VideoExplanation))
                    {
                    <i class="fas fa-video"></i>
                    }
                    else if (item.Type == typeof(TextExplanation))
                    {
                    <i class="fas fa-file"></i>
                    }
                    else if (item.Type == typeof(Questionneer))
                    {
                    <i class="fas fa-question"></i>
                    }
                    else
                    {
                    <i class="fas fa-file"></i>
                    }
                    @item.Name
                </div>
                }
            </div>
        </div>
        }

    </div>
    
    <div class="content">
        
        @foreach (Section section in Model.Sections)
        {
            @foreach (SectionItem sectionItems in section.Items)
            {
                @Html.Raw(sectionItems.RenderToHTML())
            }
        }
        
    </div>
    
    <div class="shadow-button"></div>
    
    <div class="buttons">
        <div class="prev">Vorige</div>
        <div class="next">Volgende</div>
    </div>
</div>

<script minimize>
    var acc = Array.from(document.getElementsByClassName("accordion"));
    acc.forEach(function (el) {
        el.addEventListener("click", function () {
            el.getElementsByClassName("accordion-content")[0].style.display = el.getElementsByClassName("accordion-content")[0].style.display === "block" ? "none" : "block";
            el.classList.toggle("active");
        });
    })

    var prev = document.querySelector(".prev");
    var next = document.querySelector(".next");
    var current = 0;
    var Content = document.querySelector(".content");
    var ContentItems = Array.from(Content.children);
    var navItems = Array.from(document.querySelectorAll(".item"));
    var videoPlayer = undefined;

    prev.addEventListener("click", function(e) {
        if (current > 0) {
            ContentItems[current].style.display = "none";
            navItems[current].parentElement.style.display = "none";
            navItems[current].classList.remove("active");
            
            current--;
            
            ContentItems[current].style.display = "block";
            navItems[current].parentElement.style.display = "block";
            navItems[current].classList.add("active");
            
            checkForVideo();
            videoPlayer.pause();
        }
    });

    next.addEventListener("click", function() {
        if (current < ContentItems.length - 1) {
            ContentItems[current].style.display = "none";
            navItems[current].parentElement.style.display = "none";
            navItems[current].classList.remove("active");
            
            current++;
            
            ContentItems[current].style.display = "block";
            navItems[current].parentElement.style.display = "block";
            navItems[current].classList.add("active");
            
            checkForVideo();
            videoPlayer?.pause();
        }
    });

    function checkForVideo() {
        if (ContentItems[current].querySelector("video")) {
            if (videoPlayer) {
                console.log("destroying video player");
                videoPlayer.destroy();
            }
            
            var element = ContentItems[current].querySelector('video');
            var id = element.dataset.videoId
            console.log("video found with id: " + id);            
            videoPlayer = new VideoPlayer(element, id);
            videoPlayer?.startup();
        }
    }
    
    function goToSection(event, sectionId) {
        event.stopPropagation()
        ContentItems[current].style.display = "none";
        current = sectionId - 1;
        ContentItems[current].style.display = "block";
        checkForVideo();
    }
    
</script>