@model dynamic

<link rel="stylesheet" href="/css/OrderHistory.css" asp-append-version="true">

<div class="dashboard-content">
    <div class="content">
        <div class="section-title">
            <h4>Bestelgeschiedenis</h4>
        </div>
        <div class="dashboard-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Omschrijving</th>
                    <th>Datum</th>
                    <th>Prijs</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var order in Model)
                {
                    <tr>
                        <th>#@order.id</th>
                        <td>@order.omschrijving</td>
                        <td>@order.date.ToString("d MMMM, yyyy")</td>
                        <td>€@order.price</td>
                        @if (order.state == "Betaald") {

                            <td><span class="badge success">@order.state</span></td>
                                                                               
                        } else if (order.state == "Verwerkt") {
                            
                            <td><span class="badge processing">@order.state</span></td>
                                                                                  
                        }else if (order.state == "Bezig") {
                            
                            <td><span class="badge on-hold">@order.state</span></td>
                                                                               
                        }else if (order.state == "Geannuleerd") {
                            
                            <td><span class="badge canceled">@order.state</span></td>
                                                                                
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
